<h2 style="text-align: center">
    Últimos proyectos</h2>

<mat-card *ngFor="let project of projects"
    style="margin-bottom: 30px">
    <mat-card-header>
        <mat-card-title>{{project.title}}</mat-card-title>
        <mat-card-subtitle>{{project.subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <div style="width: 100%; height: 200px; text-align: center;">
        <img matCardImage
            style="width: 200px; margin: 0px"
            [src]="project.imgSrc"
            [alt]="project.imgAlt">
    </div>
    <mat-card-content>
        {{project.desc}}
    </mat-card-content>
    <mat-card-actions align="end">
        <app-social-links [socialLinks]="project.socialLinks"></app-social-links>
    </mat-card-actions>
</mat-card>